<nav class="navbar navbar-expand-lg bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#" style="color: white;">Managify</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav" >
      <ul class="navbar-nav" >
        <li class="nav-item" >
         <a routerLink="list" class="nav-link active" style="color: white;">Department List </a>
        </li>
        <li class="nav-item">
          <a routerLink="add" class="nav-link active" style="color: white;">Add Department</a>
        </li>
       
      </ul>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
<h1 class="text-info  " style="text-align: center;">Department Management System</h1>
<hr>