<h1 class="text-info  " style="text-align: center;">Department Management System</h1>

<nav class="navbar navbar-expand-lg bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#" style="color: white;">Managify</a>
    <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav" >
      <ul class="nav navbar-nav" >
        <li class="active" >
         <a routerLink="list" class="nav-link active" style="color: white; font-weight:bolder;">Department List </a>
        </li>
        <li class="active">
          <a routerLink="add" class="nav-link active" style="color: white;font-weight:bolder;">Add Department</a>
        </li>
       
      </ul>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>

<hr>